<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Need Camera access for upload your profile picture</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Need Camera access for upload your profile picture</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need Camera library access for upload your profile picture</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to show relevant jobs nearby your location.</string>
</dict>
</plist>
